@model TimeTrackerCQRS.Commands.StartTask
@{
    Layout = null;
}

@using (Html.BeginForm(new { action = "Start" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CommandId)
    @Html.HiddenFor(model => model.OriginalVersion)
    <fieldset>
        <legend>Start Task</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p>
            <input type="submit" value="Start" />
        </p>
    </fieldset>
}

