@model TimeTrackerCQRS.Commands.StopTask
@{
    Layout = null;
}

@using (Html.BeginForm(new { action = "Stop" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CommandId)
    @Html.HiddenFor(model => model.OriginalVersion)
    <fieldset>
        <legend>Stop Task</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StopTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StopTime)
            @Html.ValidationMessageFor(model => model.StopTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p>
            <input type="submit" value="Stop" />
        </p>
    </fieldset>
}

